.homeImage {
    height: 30rem;
    background-image: linear-gradient(rgb(0,0,0,0.7), rgb(0,0,0,0.7)), url("../images/coffeePowder.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: #f5ebe0;
}

.homeImage * {
    font-family: "Story Script";
    font-weight: 600;
    font-style: normal;
    font-size: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: #260701;
    padding: 3rem;
}

.section h1 {
    color: #774936;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.card1 {
    position: relative;
    height: 17rem;
    width: 3rem;
    transition: .3s;
    
    background-image: url("../images/bourbon.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    border: 1px solid #220901;
    
    box-shadow: 1px 1.5px 13px -4px #220901;
    
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        width: 15rem;
        border-radius: 10px;
        background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url("../images/bourbon.png");
        box-shadow: 4px 6px 10px rgb(0,0,0,0.7);
    }
}

.card1 h2 {
    position: absolute;
    color: #cfa7a7;
    font-size: 1rem;
    transition: .3s ease-in-out;
    transform: rotate(90deg);
    top: 50%;
}

.card1:hover h2 {
    top: 1rem;
    font-size: 1.5rem;
    transform:rotate(0deg);
    color: #fff;
}

.card2 {
    position: relative;
    height: 17rem;
    width: 3rem;
    transition: .3s;
    
    background-image: url("../images/catuai.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    border: 1px solid #220901;
    
    box-shadow: 1px 1.5px 13px -4px #220901;
    
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url("../images/catuai.png");
        width: 15rem;
        border-radius: 10px;
        box-shadow: 4px 6px 10px rgb(0,0,0,0.7);
    }
}

.card2 h2 {
    position: absolute;
    color: #ad8080;
    font-size: 1rem;
    transition: .3s ease-in-out;
    transform: rotate(90deg);
    top: 50%;
}

.card2:hover h2 {
    top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    transform:rotate(0deg);
}


.card3 {
    position: relative;
    height: 17rem;
    width: 3rem;
    transition: .3s;
    
    background-image: url("../images/acaia.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    border: 1px solid #220901;
    
    box-shadow: 1px 1.5px 13px -4px #220901;
    
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url("../images/acaia.png");
        width: 15rem;
        border-radius: 10px;
        box-shadow: 4px 6px 10px rgb(0,0,0,0.7);
    }
}

.card3 h2 {
    position: absolute;
    color: #c99191;
    font-size: 1rem;
    transition: .3s ease-in-out;
    transform: rotate(90deg);
    top: 50%;
}

.card3:hover h2 {
    top: 1rem;
    color: #fff;
    font-size: 1.5rem;
    transform:rotate(0deg);
}

.card4 {
    position: relative;
    height: 17rem;
    width: 3rem;
    transition: .3s;
    
    background-image: url("../images/geisha.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    border-radius: 50px;
    border: 1px solid #220901;
    
    box-shadow: 1px 1.5px 13px -4px #220901;
    
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background-image: linear-gradient(rgb(0,0,0,0.4), rgb(0,0,0,0.4)), url("../images/geisha.png");
        width: 15rem;
        border-radius: 10px;
        box-shadow: 4px 6px 10px rgb(0,0,0,0.7);
    }
}

.card4 h2 {
    position: absolute;
    color: #7a5252;
    font-size: 1rem;
    transition: .3s ease-in-out;
    transform: rotate(90deg);
    top: 50%;
}

.card4:hover h2 {
    font-size: 1.5rem;
    color: #fff;
    transform:rotate(0deg);
    top: 1rem;
}

.description {
    position: absolute;
    opacity: 0;
    transition: opacity .3s ease;
    transition-delay: 0s;
}

.card1:hover .description {
    transition-delay: .4s;
    opacity: 1;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.card2:hover .description {
    transition-delay: .4s;
    opacity: 1;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.card3:hover .description {
    transition-delay: .4s;
    opacity: 1;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.card4:hover .description {
    transition-delay: .4s;
    opacity: 1;
    text-align: center;
    color: #fff;
    padding: 1rem;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    gap: 1.5rem;
    height: max-content;
    background-image: linear-gradient(rgb(0,0,0,0.7)), url("../images/cafeteria.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.choice h1 {
    text-align: center;
    color: #f3f3f3;
}

.choice p {
    color: #f5ebe0;
    text-align: center;
    font-size: 1.5rem;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.joinUs {
    background-color: #260701;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.joinUs h1 {
    color: #f3f3f3;
    font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-style: normal;
    display: flex;
    align-items: center;
    gap: .4rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
    width: fit-content;
}

.button {
    background-color: #934b00;
    padding: .7rem;
    display: flex;
    justify-content: center;
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: max-content;

    border: none;
    border-radius: 10px;

    transition: .3s ease-in-out;

    color: #f5ebe0;
    text-decoration: none;
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;

    &:hover {
        cursor: pointer;
        margin-right: 1rem;
        margin-left: 1rem;
        padding-right: 1.6rem;
        padding-left: 1.6rem;
        box-shadow: 4px 6px 10px rgb(0,0,0,0.5);
    }
}